@model HTTP5125Cumulative1.Models.Student

@{
    ViewData["Title"] = @Model.StudentNumber;
}

<h1>@ViewData["Title"]</h1>
<nav>
    <a class="navlink" href="/StudentPage/List">Back to Students</a>
</nav>
<p><span style="font-style: italic">Student Name: @Model.StudentFName @Model.StudentLName</span></p>
<p><span style="font-style: italic">Enrol Date: @Model.EnrolDate?.ToString("yyyy-MM-dd")</span></p>
