@model HTTP5125Cumulative1.Models.Course

@{
    ViewData["Title"] = @Model.CourseCode?.ToUpper();
}

<h1>@ViewData["Title"]</h1>
<p><a href="/TeacherPage/Show/@Model.TeacherId"><span style="font-style: italic">Teacher ID: @Model.TeacherId</span></a></p>
<p><span style="font-style: italic">Start Date: @Model.StartDate?.ToString("yyyy-MM-dd")</span></p>
<p><span style="font-style: italic">Finish Date: @Model.FinishDate?.ToString("yyyy-MM-dd")</span></p>
<p><span style="font-style: italic">Course Name: @Model.CourseName</span></p>
